/* FILEPATH: /C:/Software Projects/DevProject/resources/css/style.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set global font styles */
body {
    background-color: blue;
    flex: 1 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Set basic page layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #ccc;
}

.login a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.login a:hover {
    color: #ccc;
}

main {
    background-color: #fff;
    flex: 1 0 auto;
}

.welcome {
    padding: 20px;
    background-color: gray;

}

.goals {
    padding: 20px;
    background-color: gray;
    margin: auto;
    text-align: left;
}

.resources {
    padding: 20px;
    background-color: gray;
}

.resources ul li {
    list-style: none;
    flex-wrap: wrap;
    text-align: left;
    display: inline-block;
    margin-bottom: -20px;
}

footer {
    background-color: #333;
    flex-shrink: 0;
    color: #fff;
    padding: 20px;
    text-align: center;
}
